In [ ]:
# (Not having app) New installs : customer or not ?

# Previous installs (Already had the app) : 
      #  Customers: Are we able to make the customers do more bookings? 
      #  Users: Are we able to make users convert to customers ?

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/dreamers/bq-results-20221122-231405-1669158968736.csv')

In [ ]:
df['order_created_ts']=pd.to_datetime(df.order_created_ts)

In [ ]:
df

,client_id,in_search,test_assignment,order_uuid,order_created_ts
0,B2256DD8C1B049A796BAE7461B1EE729-v2,B2256DD8C1B049A796BAE7461B1EE729-v2,Test,1d6ad1c5-bbde-43a3-a64b-3668561ce607,2022-09-24
1,71345014864441B1B159C65319FB0659-v2,71345014864441B1B159C65319FB0659-v2,Test,4f6be5a9-3a4b-4a25-adc2-a265886048a1,2022-09-22
2,B2256DD8C1B049A796BAE7461B1EE729-v2,B2256DD8C1B049A796BAE7461B1EE729-v2,Test,5824cd69-d66d-4044-a693-ef2b276bff38,2022-10-28
3,90C8D51FC23B461CBF82CA63CF9CF18E-v2,90C8D51FC23B461CBF82CA63CF9CF18E-v2,Test,612b3f9f-8e6d-4144-a51c-98fff5542b5c,2022-10-28
4,380363CDBE8B4BA180CD5FF96F07D268-v2,380363CDBE8B4BA180CD5FF96F07D268-v2,Test,d0404a15-f204-4d7b-92fb-56849b9fba45,2022-10-22
...,...,...,...,...,...
101555,F17ABD3684164C868CCCAF98DD877ED5-v2,F17ABD3684164C868CCCAF98DD877ED5-v2,Control,e19fac2a-520d-4edd-8cfe-018701444142,2022-10-19
101556,F17ABD3684164C868CCCAF98DD877ED5-v2,F17ABD3684164C868CCCAF98DD877ED5-v2,Control,896a14aa-6f69-428b-b1f3-bc8e8f0abbf9,2022-10-14
101557,93D687F45DF04852A16F179F65E57BB5-v2,93D687F45DF04852A16F179F65E57BB5-v2,Control,74c08a5c-946e-48cd-ade8-8d90c8d5b2e1,2022-01-18
101558,93D687F45DF04852A16F179F65E57BB5-v2,93D687F45DF04852A16F179F65E57BB5-v2,Control,2f46ba95-e5c7-43c2-affe-9b1f55cfb13e,2022-06-12
101559,586B5067EA8548738C5FF9A1A97B1E4B-v2,586B5067EA8548738C5FF9A1A97B1E4B-v2,Control,bd98049c-4ed4-415a-b4d8-ceb9115ed16b,2022-06-13

In [ ]:
df.order_created_ts.max()

Timestamp('2022-11-21 00:00:00')

In [ ]:
df['order_before_exp_launch']=df['order_created_ts']<="2022-10-24"

In [ ]:
df

,client_id,in_search,test_assignment,order_uuid,order_created_ts,order_before_exp_launch
0,B2256DD8C1B049A796BAE7461B1EE729-v2,B2256DD8C1B049A796BAE7461B1EE729-v2,Test,1d6ad1c5-bbde-43a3-a64b-3668561ce607,2022-09-24,True
1,71345014864441B1B159C65319FB0659-v2,71345014864441B1B159C65319FB0659-v2,Test,4f6be5a9-3a4b-4a25-adc2-a265886048a1,2022-09-22,True
2,B2256DD8C1B049A796BAE7461B1EE729-v2,B2256DD8C1B049A796BAE7461B1EE729-v2,Test,5824cd69-d66d-4044-a693-ef2b276bff38,2022-10-28,False
3,90C8D51FC23B461CBF82CA63CF9CF18E-v2,90C8D51FC23B461CBF82CA63CF9CF18E-v2,Test,612b3f9f-8e6d-4144-a51c-98fff5542b5c,2022-10-28,False
4,380363CDBE8B4BA180CD5FF96F07D268-v2,380363CDBE8B4BA180CD5FF96F07D268-v2,Test,d0404a15-f204-4d7b-92fb-56849b9fba45,2022-10-22,True
...,...,...,...,...,...,...
101555,F17ABD3684164C868CCCAF98DD877ED5-v2,F17ABD3684164C868CCCAF98DD877ED5-v2,Control,e19fac2a-520d-4edd-8cfe-018701444142,2022-10-19,True
101556,F17ABD3684164C868CCCAF98DD877ED5-v2,F17ABD3684164C868CCCAF98DD877ED5-v2,Control,896a14aa-6f69-428b-b1f3-bc8e8f0abbf9,2022-10-14,True
101557,93D687F45DF04852A16F179F65E57BB5-v2,93D687F45DF04852A16F179F65E57BB5-v2,Control,74c08a5c-946e-48cd-ade8-8d90c8d5b2e1,2022-01-18,True
101558,93D687F45DF04852A16F179F65E57BB5-v2,93D687F45DF04852A16F179F65E57BB5-v2,Control,2f46ba95-e5c7-43c2-affe-9b1f55cfb13e,2022-06-12,True
101559,586B5067EA8548738C5FF9A1A97B1E4B-v2,586B5067EA8548738C5FF9A1A97B1E4B-v2,Control,bd98049c-4ed4-415a-b4d8-ceb9115ed16b,2022-06-13,True

In [ ]:
orders_before_exp=df[df['order_before_exp_launch']==True]
orders_after_exp=df[df['order_before_exp_launch']==False]

In [ ]:
                           Test Group Bookings           Control Group Bookings  


Before Test launch : 

After test launch :

In [ ]:
clients_doing_orders_before_test=set(orders_before_exp['client_id'])
len(clients_doing_orders_before_test)

13090

In [ ]:
clients_doing_orders_after_test=set(orders_after_exp['client_id'])
len(clients_doing_orders_after_test)

11262

In [ ]:
clients_ordering_only_after_test=set(clients_doing_orders_after_test-clients_doing_orders_before_test)

In [ ]:
len(clients_ordering_only_after_test)

5318

In [ ]:
temp=orders_after_exp[orders_after_exp['client_id'].isin(clients_ordering_only_after_test)]
temp.groupby(['test_assignment','order_before_exp_launch']).agg({'client_id':"nunique"})

                                         client_id
test_assignment order_before_exp_launch
Control         False                         2673
Test            False                         2645

In [ ]:
temp.order_created_ts.max(), temp.order_created_ts.min()

(Timestamp('2022-11-21 00:00:00'), Timestamp('2022-10-25 00:00:00'))

In [ ]:
agg_data=temp.groupby(['client_id','test_assignment']).agg({'order_uuid':"nunique"}).reset_index().rename(columns={"order_uuid":"num_bookings"})
agg_data.groupby('test_assignment').describe()

                num_bookings
                       count      mean       std  min  25%  50%  75%   max
test_assignment
Control               2673.0  1.962963  1.559371  1.0  1.0  1.0  2.0  15.0
Test                  2645.0  1.997732  1.555332  1.0  1.0  1.0  2.0  16.0

In [ ]:
clients_ordering_only_before_test=set(clients_doing_orders_before_test-clients_doing_orders_after_test)
len(clients_ordering_only_before_test)

7146

In [ ]:
temp2=orders_before_exp[orders_before_exp['client_id'].isin(clients_ordering_only_before_test)]
temp2.groupby(['test_assignment','order_before_exp_launch']).agg({'client_id':"nunique"})

                                         client_id
test_assignment order_before_exp_launch
Control         True                          3587
Test            True                          3559

In [ ]:
agg_data2=temp2.groupby(['client_id','test_assignment']).agg({'order_uuid':"nunique"}).reset_index().rename(columns={"order_uuid":"num_bookings"})
agg_data2.groupby('test_assignment').describe()

                num_bookings
                       count      mean       std  min  25%  50%  75%    max
test_assignment
Control               3587.0  4.341511  6.766207  1.0  1.0  2.0  5.0  136.0
Test                  3559.0  4.372577  6.467456  1.0  1.0  2.0  5.0   92.0

In [ ]:
temp2.order_created_ts.max(), temp2.order_created_ts.min()

(Timestamp('2022-10-24 00:00:00'), Timestamp('2020-10-27 00:00:00'))